html,
body {
  margin: 0;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: -webkit-linear-gradient(#8f8a7a, #191f29);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding: 100px, 100px, 100px, 100px;
  max-width: 390px;
  height: 490px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.856);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671),
    0 6px 20px 0 rgba(0, 0, 0, 0.671);
}

button {
  font-size: 2rem;
  border: 0;
  border: 1px solid rgb(14, 13, 13);

  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: rgb(221, 155, 32);
  color: white;
  font-size: 2rem;
  width: 100px;
}
.digits button {
  color: white;
  background-color: rgba(63, 63, 63, 0.924);
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
  border-radius: 20px;
}
.show-input {
  grid-area: total;
  padding: 0 20px;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  color: rgb(245, 245, 245);
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
